In [1]:
#Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
# Extracting Dataset of iNeuron From System
df=pd.read_csv(r"C:\Users\Admin\Desktop\Investment-Analytics-Ineuron-main\FDI_in_india.csv")
#Using Head Method Showing 1st 10 Data.
df.head(10)

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,METALLURGICAL INDUSTRIES,22.69,14.14,36.61,8.11,200.38,149.13,169.94,1175.75,959.94,419.88,1098.14,1786.14,1466.23,567.63,359.34,456.31,1440.18
1,MINING,1.32,6.52,10.06,23.48,9.92,7.40,6.62,444.36,34.16,174.40,79.51,142.65,57.89,12.73,684.39,520.67,55.75
2,POWER,89.42,757.44,59.11,27.09,43.37,72.69,157.15,988.68,907.66,1271.79,1271.77,1652.38,535.68,1066.08,707.04,868.80,1112.98
3,NON-CONVENTIONAL ENERGY,0.00,0.00,1.70,4.14,1.27,1.35,2.44,58.82,125.88,622.52,214.40,452.17,1106.52,414.25,615.95,776.51,783.57
4,COAL PRODUCTION,0.00,0.00,0.00,0.04,0.00,9.14,1.30,14.08,0.22,0.00,0.00,0.00,0.00,2.96,0.00,0.00,0.00
5,PETROLEUM & NATURAL GAS,9.35,211.07,56.78,80.64,102.78,12.09,87.71,1405.04,349.29,265.53,556.43,2029.98,214.80,112.23,1079.02,103.02,180.40
6,BOILERS AND STEAM GENERATING PLANTS,0.00,0.00,0.00,0.04,0.54,0.00,3.31,1.51,0.00,3.96,0.63,31.79,20.05,0.17,1.33,77.91,53.91
7,PRIME MOVER (OTHER THAN ELECTRICAL GENERATORS),0.00,0.00,0.00,0.00,2.66,0.74,25.57,40.53,74.88,39.50,166.44,313.75,184.60,212.78,230.70,159.13,286.88
8,ELECTRICAL EQUIPMENTS,79.76,65.76,34.71,73.20,97.40,39.50,76.85,653.74,417.35,728.27,153.90,566.39,195.87,134.31,574.83,444.88,2230.69
9,COMPUTER SOFTWARE & HARDWARE,228.39,419.39,314.24,368.32,527.90,1359.97,2613.33,1382.25,1543.34,871.86,779.81,796.35,485.96,1126.27,2296.04,5904.36,3651.71

In [26]:
#Using Tail Method Showing 1st 10 Data.

df.tail(10)

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
53,TRADING,11.49,43.27,38.13,31.12,14.22,28.93,114.65,345.02,643.64,737.95,498.04,731.55,717.80,1343.39,2727.96,3845.32,2338.40
54,RETAIL TRADING,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.27,0.09,13.73,26.27,31.70,22.31,11.30,168.72,262.24,450.94
55,AGRICULTURE SERVICES,17.52,14.06,11.01,0.59,3.83,9.08,12.53,58.13,5.35,1222.22,43.90,49.02,161.47,91.01,59.95,84.65,76.43
56,DIAMOND & GOLD ORNAMENTS,18.83,0.36,1.30,1.96,8.58,15.52,61.97,59.15,83.50,31.08,19.59,36.30,52.61,42.56,280.18,58.54,123.92
57,TEA AND COFFEE (PROCESSING & WAREHOUSING COFFE...,20.23,0.14,0.00,0.32,0.01,1.43,6.20,18.94,37.08,8.15,3.12,5.32,0.27,5.86,1.43,1.12,1.60
58,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,0.00,0.00,6.30,0.00,0.06,9.90,20.04,35.54,31.61,70.51,36.63,47.39,14.34,113.78,72.58,122.81,53.17
59,COIR,0.00,0.00,0.00,0.00,0.47,0.59,0.04,0.01,0.00,0.25,0.10,0.55,0.15,0.54,1.36,0.00,0.00
60,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,0.00,0.00,0.00,0.00,0.00,0.93,64.06,182.92,172.70,324.56,675.07,386.28,283.89,485.37,870.25,4510.71,1860.73
61,CONSTRUCTION DEVELOPMENT: Townships & housing ...,24.33,51.75,36.10,47.04,152.06,228.71,1392.95,3887.33,4657.51,5466.13,1663.03,3140.78,1332.49,1226.05,769.14,112.55,105.14
62,MISCELLANEOUS INDUSTRIES,832.07,221.37,218.76,235.48,121.83,164.76,304.87,528.42,1549.70,1147.56,1475.97,813.38,229.49,468.74,765.88,668.77,296.40

In [27]:
#  Sorting based on values

df.sort_values

<bound method DataFrame.sort_values of                                                Sector  2000-01  2001-02  \
0                            METALLURGICAL INDUSTRIES    22.69    14.14
1                                              MINING     1.32     6.52
2                                               POWER    89.42   757.44
3                             NON-CONVENTIONAL ENERGY     0.00     0.00
4                                     COAL PRODUCTION     0.00     0.00
..                                                ...      ...      ...
58  PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...     0.00     0.00
59                                               COIR     0.00     0.00
60           CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES     0.00     0.00
61  CONSTRUCTION DEVELOPMENT: Townships & housing ...    24.33    51.75
62                           MISCELLANEOUS INDUSTRIES   832.07   221.37

    2002-03  2003-04  2004-05  2005-06  2006-07  2007-08  2008-09  2009-10  \
0     36.61     8.11   200.38   149.13   169.94  1175.75   959.94   419.88
1     10.06    23.48     9.92     7.40     6.62   444.36    34.16   174.40
2     59.11    27.09    43.37    72.69   157.15   988.68   907.66  1271.79
3      1.70     4.14     1.27     1.35     2.44    58.82   125.88   622.52
4      0.00     0.04     0.00     9.14     1.30    14.08     0.22     0.00
..      ...      ...      ...      ...      ...      ...      ...      ...
58     6.30     0.00     0.06     9.90    20.04    35.54    31.61    70.51
59     0.00     0.00     0.47     0.59     0.04     0.01     0.00     0.25
60     0.00     0.00     0.00     0.93    64.06   182.92   172.70   324.56
61    36.10    47.04   152.06   228.71  1392.95  3887.33  4657.51  5466.13
62   218.76   235.48   121.83   164.76   304.87   528.42  1549.70  1147.56

    2010-11  2011-12  2012-13  2013-14  2014-15  2015-16  2016-17
0   1098.14  1786.14  1466.23   567.63   359.34   456.31  1440.18
1     79.51   142.65    57.89    12.73   684.39   520.67    55.75
2   1271.77  1652.38   535.68  1066.08   707.04   868.80  1112.98
3    214.40   452.17  1106.52   414.25   615.95   776.51   783.57
4      0.00     0.00     0.00     2.96     0.00     0.00     0.00
..      ...      ...      ...      ...      ...      ...      ...
58    36.63    47.39    14.34   113.78    72.58   122.81    53.17
59     0.10     0.55     0.15     0.54     1.36     0.00     0.00
60   675.07   386.28   283.89   485.37   870.25  4510.71  1860.73
61  1663.03  3140.78  1332.49  1226.05   769.14   112.55   105.14
62  1475.97   813.38   229.49   468.74   765.88   668.77   296.40

[63 rows x 18 columns]>

In [28]:
# info(), it gives information about the data set.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sector   63 non-null     object
 1   2000-01  63 non-null     float64
 2   2001-02  63 non-null     float64
 3   2002-03  63 non-null     float64
 4   2003-04  63 non-null     float64
 5   2004-05  63 non-null     float64
 6   2005-06  63 non-null     float64
 7   2006-07  63 non-null     float64
 8   2007-08  63 non-null     float64
 9   2008-09  63 non-null     float64
 10  2009-10  63 non-null     float64
 11  2010-11  63 non-null     float64
 12  2011-12  63 non-null     float64
 13  2012-13  63 non-null     float64
 14  2013-14  63 non-null     float64
 15  2014-15  63 non-null     float64
 16  2015-16  63 non-null     float64
 17  2016-17  63 non-null     float64
dtypes: float64(17), object(1)
memory usage: 9.0+ KB

In [29]:
#Checking the names of the column

df.columns

Index(['Sector', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11',
       '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17'],
      dtype='object')

In [30]:
# The dataset contains 63 records and 18 different attributes / variable

df.shape

(63, 18)

In [31]:
# The describe() function gives the statistical summary of the numberical columns of the dataset.

df.describe()

,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,37.757302,63.931587,42.925714,34.727778,51.090317,87.932540,198.281905,390.085714,498.348571,410.069524,339.413810,557.472698,355.930000,385.703492,490.959841,634.936349,690.131111
std,112.227860,157.878737,86.606439,67.653735,101.934873,206.436967,686.783115,1026.249935,1134.649040,926.814626,627.141139,1031.474056,778.091368,658.429944,837.787060,1335.307706,1411.965354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.200000,0.215000,0.715000,1.230000,4.160000,9.950000,11.950000,7.880000,8.430000,22.720000,15.115000,16.610000,33.800000,30.000000,19.905000
50%,4.030000,5.070000,11.010000,6.370000,9.090000,22.620000,25.820000,58.820000,84.880000,69.740000,58.070000,129.360000,95.410000,113.780000,177.220000,159.130000,110.860000
75%,23.510000,44.830000,36.555000,38.660000,43.205000,63.855000,108.325000,279.270000,383.320000,341.595000,304.280000,593.525000,288.025000,473.060000,595.390000,519.070000,741.220000
max,832.070000,873.230000,419.960000,368.320000,527.900000,1359.970000,4713.780000,6986.170000,6183.490000,5466.130000,3296.090000,5215.980000,4832.980000,3982.890000,4443.260000,6889.460000,8684.070000

In [32]:
#checking null values 

df.isnull().sum()

Sector     0
2000-01    0
2001-02    0
2002-03    0
2003-04    0
2004-05    0
2005-06    0
2006-07    0
2007-08    0
2008-09    0
2009-10    0
2010-11    0
2011-12    0
2012-13    0
2013-14    0
2014-15    0
2015-16    0
2016-17    0
dtype: int64

In [33]:
#Calculating the mean value

df.mean()

C:\Users\Admin\AppData\Local\Temp/ipykernel_1704/3993891379.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

2000-01     37.757302
2001-02     63.931587
2002-03     42.925714
2003-04     34.727778
2004-05     51.090317
2005-06     87.932540
2006-07    198.281905
2007-08    390.085714
2008-09    498.348571
2009-10    410.069524
2010-11    339.413810
2011-12    557.472698
2012-13    355.930000
2013-14    385.703492
2014-15    490.959841
2015-16    634.936349
2016-17    690.131111
dtype: float64

In [35]:
#Calculating the median value 

df.median()

C:\Users\Admin\AppData\Local\Temp/ipykernel_1704/1276796223.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

2000-01      4.03
2001-02      5.07
2002-03     11.01
2003-04      6.37
2004-05      9.09
2005-06     22.62
2006-07     25.82
2007-08     58.82
2008-09     84.88
2009-10     69.74
2010-11     58.07
2011-12    129.36
2012-13     95.41
2013-14    113.78
2014-15    177.22
2015-16    159.13
2016-17    110.86
dtype: float64

In [37]:
#The mode() function is used to get the mode(s) of each element along the selected axis.

df.mode()

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,AGRICULTURAL MACHINERY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AGRICULTURE SERVICES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AIR TRANSPORT (INCLUDING AIR FREIGHT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUTOMOBILE INDUSTRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BOILERS AND STEAM GENERATING PLANTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,TELECOMMUNICATIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,TEXTILES (INCLUDING DYED PRINTED),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,TIMBER PRODUCTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,TRADING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,VEGETABLE OILS AND VANASPATI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Checking Data Types 

df.dtypes

Sector      object
2000-01    float64
2001-02    float64
2002-03    float64
2003-04    float64
2004-05    float64
2005-06    float64
2006-07    float64
2007-08    float64
2008-09    float64
2009-10    float64
2010-11    float64
2011-12    float64
2012-13    float64
2013-14    float64
2014-15    float64
2015-16    float64
2016-17    float64
dtype: object

In [41]:
# Maximum Investment in 2000-01 Year 

df['2000-01'].max()

832.07

In [42]:
# Minmum Investment in 2000-01 Year 

df['2000-01'].min()

0.0

In [44]:
# we can count the missing values in pandas series using the sum() function.

df.isna().sum()

Sector     0
2000-01    0
2001-02    0
2002-03    0
2003-04    0
2004-05    0
2005-06    0
2006-07    0
2007-08    0
2008-09    0
2009-10    0
2010-11    0
2011-12    0
2012-13    0
2013-14    0
2014-15    0
2015-16    0
2016-17    0
dtype: int64

In [48]:
# Total Number of Sectors
df['Sector'].count()

63

In [49]:
df['Sector'].value_counts()

METALLURGICAL INDUSTRIES                          1
DEFENCE INDUSTRIES                                1
PAPER AND PULP (INCLUDING PAPER PRODUCTS)         1
SUGAR                                             1
FERMENTATION INDUSTRIES                           1
                                                 ..
SCIENTIFIC INSTRUMENTS                            1
MATHEMATICAL SURVEYING AND DRAWING INSTRUMENTS    1
FERTILIZERS                                       1
CHEMICALS (OTHER THAN FERTILIZERS)                1
MISCELLANEOUS INDUSTRIES                          1
Name: Sector, Length: 63, dtype: int64

In [50]:
# Investment analysis for the year 2000-01 
Min_Inv=df['2000-01'].min()
Max_Inv=df['2000-01'].max()
Mean=df['2000-01'].mean()
print("Max Investment",Max_Inv)
print("Min Investment",Min_Inv)
print("Mean Investment",Mean)

Max Investment 832.07
Min Investment 0.0
Mean Investment 37.75730158730159

In [54]:
for i in df:
    Min_Inv=df.min()
    Max_Inv=df.max()
    Mean=df.mean()
print("Max Investment",Max_Inv)
print("Min Investment",Min_Inv)
print("Mean Investment",Mean)

Max Investment Sector     VEGETABLE OILS AND VANASPATI
2000-01                          832.07
2001-02                          873.23
2002-03                          419.96
2003-04                          368.32
2004-05                           527.9
2005-06                         1359.97
2006-07                         4713.78
2007-08                         6986.17
2008-09                         6183.49
2009-10                         5466.13
2010-11                         3296.09
2011-12                         5215.98
2012-13                         4832.98
2013-14                         3982.89
2014-15                         4443.26
2015-16                         6889.46
2016-17                         8684.07
dtype: object
Min Investment Sector     AGRICULTURAL MACHINERY
2000-01                       0.0
2001-02                       0.0
2002-03                       0.0
2003-04                       0.0
2004-05                       0.0
2005-06                       0.0
2006-07                       0.0
2007-08                       0.0
2008-09                       0.0
2009-10                       0.0
2010-11                       0.0
2011-12                       0.0
2012-13                       0.0
2013-14                       0.0
2014-15                       0.0
2015-16                       0.0
2016-17                       0.0
dtype: object
Mean Investment 2000-01     37.757302
2001-02     63.931587
2002-03     42.925714
2003-04     34.727778
2004-05     51.090317
2005-06     87.932540
2006-07    198.281905
2007-08    390.085714
2008-09    498.348571
2009-10    410.069524
2010-11    339.413810
2011-12    557.472698
2012-13    355.930000
2013-14    385.703492
2014-15    490.959841
2015-16    634.936349
2016-17    690.131111
dtype: float64

C:\Users\Admin\AppData\Local\Temp/ipykernel_1704/1465732597.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Mean=df.mean()

In [56]:
for i in df:
    Max_Inv=df.max()
print("Maximum Investment=",Max_Inv)

Maximum Investment= Sector     VEGETABLE OILS AND VANASPATI
2000-01                          832.07
2001-02                          873.23
2002-03                          419.96
2003-04                          368.32
2004-05                           527.9
2005-06                         1359.97
2006-07                         4713.78
2007-08                         6986.17
2008-09                         6183.49
2009-10                         5466.13
2010-11                         3296.09
2011-12                         5215.98
2012-13                         4832.98
2013-14                         3982.89
2014-15                         4443.26
2015-16                         6889.46
2016-17                         8684.07
dtype: object

In [57]:
Max_Inv.to_sql

<bound method NDFrame.to_sql of Sector     VEGETABLE OILS AND VANASPATI
2000-01                          832.07
2001-02                          873.23
2002-03                          419.96
2003-04                          368.32
2004-05                           527.9
2005-06                         1359.97
2006-07                         4713.78
2007-08                         6986.17
2008-09                         6183.49
2009-10                         5466.13
2010-11                         3296.09
2011-12                         5215.98
2012-13                         4832.98
2013-14                         3982.89
2014-15                         4443.26
2015-16                         6889.46
2016-17                         8684.07
dtype: object>